
.MuiInputBase-root {
    color: #fff;
    width: 100%;
}

.MuiInput-underline:before {
    display: none;
}

.MuiInput-underline:after {
    display: none;
}

.MuiInputAdornment-positionEnd {
    margin-bottom: 27px;
}

.MuiIconButtonBase-root {
    color: #fff;
}

.MuiIconButton-label {
    color: #fff;
}